version: '3.4'

services:
  gitlabeventlinenotify:
    image: gitlabeventlinenotify
    restart: always
    build:
      context: .
      dockerfile: ./Dockerfile
    env_file: .env
    ports:
      - 8082:8082
